# Data Source URLs
AIRPORTS_URL=https://davidmegginson.github.io/ourairports-data/airports.csv
COUNTRIES_URL=https://davidmegginson.github.io/ourairports-data/countries.csv
CITIES_URL=https://download.geonames.org/export/dump/cities15000.zip
COUNTRYINFO_URL=https://download.geonames.org/export/dump/countryInfo.txt

# Pipeline Config
LOG_LEVEL=INFO
PIPELINE_ENV=development
